h1{
    text-align: center;
    color:rgb(230, 227, 224);
    background-color: rgb(132, 73, 14);
}
img{
    height: 350px;
    width: auto;
}
h2{
    text-align: center;
    color:red;
    background-color: rgb(132, 73, 14);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
